@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.nowrap{
  white-space: nowrap;
}
html{
  scroll-behavior: smooth;
}

body{
  font: 1.5rem "coustard", serif;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(hsla(120, 73%, 75%, 0.795), #475569);
  display: flex;
  flex-direction: column;
}

  header ,footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
  text-align: center;
  }


header{
  top: 0;
}

nav{
  background-color: white;
  color: #000;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  font-weight: bolder;
}

nav a , nav a:visited{
  color:#000
}
 
nav a:hover, nav a:focus{
color:hsla(0%, 0%, 0%, 0.795)

}

main{
  flex-grow:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

footer{
  bottom: 0;
}

.tech{
  scroll-margin-top: 8rem;
  width:min(100%,350px);
  background-color: #cbd5e1;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tech figure{
  display: flex;
  flex-flow: column nowrap;
}

.tech img{
  border: 5px double #333;
  border-radius: 50%;
}

.tech figcaption{
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}


@media (min-width:576px ){
main{
  justify-content: center;
  flex-flow: row wrap;
  padding: 1rem;

}
.tech{
  width:min(100%, 400px);

}
.tech:last-child{
  order: -1;
}
}
  
@media screen and (min-width: 768px) {
  nav {
    display: none;
  }

  .tech {
    width: min(100%, 325px);
  }

  .tech figure {
    flex-flow: column-reverse;
  }

  .tech p {
    margin-top: 1rem;
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  .tech {
    width: min(100%, 400px);
  }

  .tech:nth-child(2) {
    order: -1;
  }
}

/* || XL  */
@media screen and (min-width: 1200px) {
  .tech {
    /* Remove calc() - min() supports math! */
    width: min(33% - 1rem, 500px);
  }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .tech {
    /* Remove calc() - min() supports math! */
    width: min(33% - 0.25rem, 200px);
  }

  .tech figcaption,
  .tech p {
    font-size: 1.25rem;
  }
}
